.swiper-button-next,
.swiper-button-prev
{
    position: relative;
    top: 0;
    bottom: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 9px;
    height: 16px;
    margin: 0;

    transition: color .2s linear;
    transform: none;

    color: #000;
}

.swiper-button-prev
{
    left: 0;
}

.swiper-button-next
{
    right: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 9px;
    height: 16px;
}

.swiper-button-next .icon
{
    transform: rotate(180deg);
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 8px;

    pointer-events: none;
}


.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite
{
    position: relative;

    width: 251px;
    height: 1px;

    background: currentColor;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill
{
    top: auto;
    bottom: 0;

    height: 2px;

    background: #e31e24;
}


.swiper-pagination-bullet
{
    display: block;

    width: 8px;
    height: 8px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: .2;
    border-radius: 50%;
    background: #000;
}

.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 8px !important;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    opacity: 1;
    background: #e31e24;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
